/* Typography */
html {
  font-size: 16px;
}
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.55;
  background: var(--color-primary-bg);
  color: var(--color-primary-fg);
}
h1, h2, h3, h4, h5 {
  font-family: 'Bree Serif', serif;
  font-weight: 700;
  line-height: 1.15;
  margin-top: 2.75rem;
  padding-left: 1.5rem;
  max-width: 800px
}
thead {
  font-family: 'Bree Serif', serif;
  font-weight: 700;
}
code {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}
h1 {
  font-size: 3.052rem;
  margin-top: 0;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
p, blockquote, ul, ol, pre, table, .standout {
  margin-top: 1.5em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 800px
}
mark {
  background: var(--color-highlight);
}
a {
  color: var(--color-primary-accent);
}
a:active {
  color: var(--color-active-accent);
}
a:visited {
  color: var(--color-secondary-accent);
}
blockquote > p {
  margin-top: 0;
}
ul {
  list-style: outside square;
}
ol {
  list-style: inside arabic;
}
ul ol, ol ul, ol ol, ul ul {
  margin-top: 0;
}
blockquote {
  border-left: 0.4rem solid var(--color-secondary-bg);
  color: var(--color-secondary-bg);
}
blockquote > p, q {
  quotes: "„" "“" "‚" "‘";
  font-style: italic;
  padding-left: 0;
}
blockquote > p::before, q::before {
  content: open-quote;
}
blockquote > p::after, q::after {
  content: close-quote;
}
strong {
  font-weight: 700;
}
small {
  font-size: 0.8rem;
}
em {
  font-style: italic;
}
sup {
  vertical-align: super;
  font-size: 0.6rem;
}
pre, .standout {
  background-color: var(--color-core-median);
  color: var(--color-primary-bg);
  padding-left: 1.9rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footnotes {
  font-size: 0.8rem;
  margin-top: 2.5rem;
}
.footnotes p {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
}
.footnotes ol {
  margin-top: 0;
}
table {
  margin-left: 1.5rem;
}
thead {
  border-bottom: 1px solid;
  font-weight: 700;
  text-align: left;
}
td, th {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
tbody > tr:nth-child(2n) {
  background-color: var(--color-secondary-fg);
}

/* Layout */
body {
  display: flex;
  flex-flow: column;
  align-items: center;
}
article {
  display: inline-block;
  padding: 2rem 0;
}
img {
  width: 100%;
  max-width: 855px;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
}
