/* Colours */
:root {
  /* Base Colors */
  --color-whitesmoke: #F2F2F2;
  --color-tan: #CAAB96;
  --color-sienna: #6E443A;
  --color-woody: #382C28;
  --color-black: #262626;

  /* Accent Colors */
  --color-royalblue: #1E47B8;
  --color-darkred: #9D0B0B;
  --color-mediumblue: #4A4988;

  --color-goldenrod: #F2BC1B;

  /* Base Color Definitions */
  --color-base-primary-bg: var(--color-whitesmoke);
  --color-base-primary-fg: var(--color-black);
  --color-base-midtone: var(--color-sienna);
  --color-base-secondary-bg: var(--color-woody);
  --color-base-secondary-fg: var(--color-tan);

  /* Accent Color Definitions */
  --color-accent-primary: var(--color-royalblue);
  --color-accent-secondary: var(--color-mediumblue);
  --color-accent-important: var(--color-darkred);
  --color-accent-highlight: var(--color-goldenrod);
}
