<header class="article-header">
  <section>
    <h1>{{ title }}</h1>
    <p>
      <small>
        Published on:
        <strong>{{ published | date: "%b %d, %Y" }}</strong>
        <br />
        {% if author %} By: <strong>{{ author }}</strong>
        <br />
        {% endif %} {% if tags %} Tags: {% for tag in tags %}
        <strong>{{ tag }}</strong>{% if tags.last != tag %},{% endif %} {%
        endfor %} {% endif %}
      </small>
    </p>
    {% if abstract %}
    <p>{{ abstract }}</p>
    {% endif %}
  </section>
</header>
<article>
  {% if picture %}
  <div>
    <picture>
      <source
        srcset="
      https://res.cloudinary.com/dnepr2nve/image/upload/c_scale,q_auto,w_1000/v1582384188/blog/{{ picture }}.webp 1000w,
      https://res.cloudinary.com/dnepr2nve/image/upload/c_scale,q_auto,w_500/v1582384188/blog/{{ picture }}.webp 500w
    "
        sizes="(max-width: 500px) 500px, 1000px"
        type="image/webp"
      />
      <source
        srcset="
      https://res.cloudinary.com/dnepr2nve/image/upload/c_scale,q_auto,w_1000/v1582384188/blog/{{ picture }}.jpg 1000w,
      https://res.cloudinary.com/dnepr2nve/image/upload/c_scale,q_auto,w_500/v1582384188/blog/{{ picture }}.jpg 500w
    "
        sizes="(max-width: 500px) 500px, 1000px"
        type="image/jpg"
      />
      <img
        class="in-text title-picture"
        alt="Petr sitting and painting."
        src="https://res.cloudinary.com/dnepr2nve/image/upload/q_auto/v1582384188/blog/{{ picture }}.jpg"
      />
    </picture>
  </div>
  <p><small>{{ title }}</small></p>
  {% endif %} {{ body }}
</article>
