<header class="article-header">
  <section>
    <h1>{{ title }} - {{ slug }}</h1>
    <p>
      <small>
        Published on:
        <strong>{{ published | date: "%b %d, %Y" }}</strong>
        <br />
        {% if author %} By: <strong>{{ author }}</strong>
        <br />
        {% endif %} {% if tags %} Tags: {% for tag in tags %}
        <strong>{{ tag }}</strong
        >{% if tags.last != tag %},{% endif %} {% endfor %} {% endif %}
      </small>
    </p>
    {% if abstract %}
    <p>{{ abstract }}</p>
    {% endif %}
  </section>
</header>
<article>
  {% if picture %}
  <div>
    <picture>
      <source
        srcset="
        https://ahbyucfreo.cloudimg.io/v7/_blog_/{{ picture }}.jpg?w=1000 1000w,
        https://ahbyucfreo.cloudimg.io/v7/_blog_/{{ picture }}.jpg?w=500 500w
    "
        sizes="(max-width: 500px) 500px, 1000px"
        type="image/webp"
      />
      <source
        srcset="
        https://ahbyucfreo.cloudimg.io/v7/_blog_/{{ picture }}.jpg?w=1000 1000w,
        https://ahbyucfreo.cloudimg.io/v7/_blog_/{{ picture }}.jpg?w=500 500w
    "
        sizes="(max-width: 500px) 500px, 1000px"
        type="image/jpg"
      />
      <img
        class="in-text title-picture"
        alt="Petr sitting and painting."
        src="https://ahbyucfreo.cloudimg.io/v7/_blog_/{{ picture }}.jpg"
      />
    </picture>
  </div>
  <p>
    <small>{{ title }}</small>
  </p>
  {% endif %} {{ body }}
  <div id="disqus_thread" data-slug="{{ slug }}"></div>
</article>
<script src="/disqus.js"></script>
