<main>
  {{ body }}
  <h2>Articles</h2>
  <div class="grid">
    {% for article in articles limit:7 %}
    <div class="grid-item">
      <a href="articles/{{ article.slug }}">
        {% if article.picture %}
        <img
          class="grid-image"
          src="https://res.cloudinary.com/dnepr2nve/image/upload/v1582384224/blog/{{ article.picture }}.jpg"
        />
        {% else %}
        <div class="article-image-placeholder">
          <p>{{ article.title }}</p>
        </div>
        {% endif %}
        <p><strong>{{ article.title }}</strong></p>
      </a>
      <p class="intro">{{ article.intro }}</p>
    </div>
    {% endfor %}
  </div>
  <p><a href="/articles">Show more content...</a></p>
</main>
