<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-156056532-2"
    ></script>
    <script src="/ga.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="description" content="{{ description }}" />

    <title>{{ title }}</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://static.spetex.cz/css/reset.css"
    />
    <link
      href="https://static.spetex.cz/3rdParty/fontawesome-free-5.11.2-web/css/fontawesome.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      href="https://static.spetex.cz/3rdParty/fontawesome-free-5.11.2-web/css/solid.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      href="https://static.spetex.cz/3rdParty/fontawesome-free-5.11.2-web/css/brands.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/variables.css" />
    <link rel="stylesheet" type="text/css" href="/global.css" />
    {% if footer %}
    <link rel="stylesheet" type="text/css" href="/footer.css" />
    {% endif %}

    {% if title == 'Homepage' %}
    <link rel="stylesheet" type="text/css" href="/homepage.css" />
    {% endif %}

    <link
      href="https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i&display=swap"
      crossorigin="anonymous"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap"
      crossorigin="anonymous"
      rel="stylesheet"
    />
  </head>
  <body>
    {{ body }}
    {% if footer %}
    {{ footer }}
    {% endif %}
  </body>
</html>
