<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="https://static.spetex.cz/css/reset.css">
  	<link rel='stylesheet' type="text/css" href='/global.css'>
    {% if svelte %}
    <link rel='stylesheet' type="text/css" href='/build/bundle.css'>
    <script defer src='/build/bundle.js'></script>
    {% endif %}
  </head>
  <body>
    {{ body }}
  </body>
</html>
